h1 {
    text-align: center;
}

#credits {
    text-align: center;
    margin-bottom: 20px;
}

#credits span {
    cursor: default;
    display: inline-block;
    margin: 0 auto;
    min-width: 100px;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    background: #fff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    margin: 0 auto;
}

#notice {
    position: absolute;
    min-width: 100px;
    text-align: center;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background: #fff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 18px;
}
